# RCS Tuples

## Tuples

*  ordered
* immutable (cannot be changed!)
* Can be used as a collection of fields

In [1]:
mytuple = 6, 4, 9
print(mytuple)

(6, 4, 9)

In [3]:
type(mytuple)

tuple

In [4]:
mytuple[2]

9

In [5]:
mytuple[:2]

(6, 4)

In [6]:
mytuple.count(9)

1

In [7]:
numtuple = tuple(range(10))
numtuple

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [8]:
numtuple[3]

3

In [9]:
numtuple[3] = 333

TypeError: 'tuple' object does not support item assignment

In [12]:
mytuple.index(9)

2

In [13]:
numtuple.index(9)

9

In [15]:
333 in numtuple

False

In [16]:
6 in numtuple

True

In [17]:
import random

In [19]:
bigtuple = tuple([random.randint(1,6) for _ in range(100)])
bigtuple

(1,
 2,
 6,
 1,
 4,
 5,
 4,
 4,
 1,
 3,
 5,
 5,
 1,
 6,
 2,
 1,
 1,
 1,
 3,
 4,
 3,
 1,
 2,
 2,
 2,
 2,
 1,
 2,
 3,
 2,
 3,
 3,
 6,
 6,
 1,
 6,
 6,
 1,
 6,
 1,
 3,
 5,
 2,
 1,
 3,
 6,
 6,
 3,
 3,
 2,
 5,
 2,
 5,
 1,
 1,
 6,
 1,
 1,
 6,
 4,
 3,
 2,
 3,
 2,
 2,
 6,
 4,
 4,
 2,
 1,
 2,
 1,
 2,
 5,
 6,
 6,
 3,
 1,
 1,
 4,
 5,
 4,
 5,
 4,
 6,
 3,
 5,
 1,
 6,
 6,
 1,
 5,
 1,
 3,
 1,
 6,
 4,
 5,
 1,
 6)

In [20]:
elcountlist = [bigtuple.count(el) for el in range(1,7)]
elcountlist

[26, 17, 15, 11, 12, 19]

In [21]:
from collections import Counter

In [22]:
tupcounter = Counter(bigtuple)
tupcounter

Counter({1: 26, 2: 17, 6: 19, 4: 11, 5: 12, 3: 15})

In [23]:
mytuple

(6, 4, 9)

In [24]:
mylist = list(mytuple)
mylist

[6, 4, 9]

In [7]:
dir(mytuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [25]:
bigt = tuple(range(1,11))
bigt

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [27]:
reversedtup = bigt[::-1]
reversedtup

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [28]:
bigt[3] = 33

TypeError: 'tuple' object does not support item assignment

In [29]:
mlist = list(bigt)
mlist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [30]:
mlist[3] = 333
mlist

[1, 2, 3, 333, 5, 6, 7, 8, 9, 10]

In [31]:
newtup = tuple(mlist)
newtup

(1, 2, 3, 333, 5, 6, 7, 8, 9, 10)

A special problem is the construction of tuples containing 0 or 1 items: the syntax has some extra quirks to accommodate these. Empty tuples are constructed by an empty pair of parentheses; a tuple with one item is constructed by following a value with a comma (it is not sufficient to enclose a single value in parentheses). Ugly, but effective. For example:

In [32]:
double= 'hello', 'super'
double

('hello', 'super')

In [33]:
empty = ()
singleton = 'hello',    # <-- note trailing comma
double= ('hello', 'super')
len(empty)
0
len(singleton)
1
print(empty,singleton,double)
#('hello',)
# The statement t = 12345, 54321, 'hello!' is an example of tuple packing: the values 12345, 54321 and 'hello!' are packed together in a tuple. The reverse operation is also possible:

() ('hello',) ('hello', 'super')

In [34]:
lst=list(double)
lst

['hello', 'super']

In [35]:
dir(singleton)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

## Unpacking tuples

In [36]:
mytuple

(6, 4, 9)

In [38]:
a, _, c = mytuple # of course we could just write c = mytuple[2]
print(a, c)

6 9

In [39]:
a , c = c, a
print(a, c)

9 6

In [40]:
a, b, c = mytuple
print(a,b,c)

6 4 9

In [41]:
_

4

In [21]:
55

55

In [42]:
_

4

In [ ]:
mytuple[2]

In [43]:
ytup = ([1,2,3], "Petr", 66)
ytup

([1, 2, 3], 'Petr', 66)

In [44]:
ytup[2] = 77

TypeError: 'tuple' object does not support item assignment

In [45]:
ytup[0]

[1, 2, 3]

In [46]:
ytup[0] = [3,555]

TypeError: 'tuple' object does not support item assignment

In [47]:
ytup[0][2] = "hmmm"
ytup

([1, 2, 'hmmm'], 'Petr', 66)

In [48]:
ytup[0].append('new value')
ytup

([1, 2, 'hmmm', 'new value'], 'Petr', 66)

In [49]:
btup = [1,2], 'Val', 3433, {'a':100, 'b':20}
btup

([1, 2], 'Val', 3433, {'a': 100, 'b': 20})

In [54]:
btup[-1]

{'a': 100, 'b': 20}

In [55]:
# we can add new key - value pairs to the dictionary inside tuple since dictionaries are mutable
btup[-1]['newkey'] = 'newvalue'
btup

([1, 2], 'Val', 3433, {'a': 100, 'b': 20, 'newkey': 'newvalue'})

In [50]:
ytup[1] = 'Valdis'

TypeError: 'tuple' object does not support item assignment

In [51]:
ytup[2] = 'Valdis'

TypeError: 'tuple' object does not support item assignment

In [52]:
ytup[0] ='Valdis'

TypeError: 'tuple' object does not support item assignment

In [53]:
# We can't change tuples, but we can change list items inside tuple
ytup[0][1] = 'Valdis'
ytup

([1, 'Valdis', 'hmmm', 'new value'], 'Petr', 66)

In [30]:
ytup[0].append('something')
ytup

([1, 'Valdis', 3, 'something'], 'Petr', 66)

In [31]:
a, b, c = mytuple
print(a, b, c)

6 4 9

In [1]:
55

55

In [32]:
# Last Value in Memory
_

4

In [ ]:
# More on Tuples
# https://www.datacamp.com/community/tutorials/python-tuples-tutorial

In [56]:
ntup = tuple(range(10))
ntup

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [57]:
ntup[2:6:2]

(2, 4)

In [58]:
atup = ntup[:5]+ntup[2:9]
atup

(0, 1, 2, 3, 4, 2, 3, 4, 5, 6, 7, 8)

In [60]:
# multiply is overloaded and we can make new longer copies
btup = atup*4
btup

(0,
 1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 0,
 1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 0,
 1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 0,
 1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 7,
 8)

In [40]:
len(btup)

24

In [41]:
btup.count(2)

4

In [42]:
btup.index(2)

2

In [43]:
btup[2]

2

In [44]:
sum(btup)

90

In [45]:
min(btup),max(btup)

(0, 8)

In [ ]:
# So tuples are a bit faster than lists